<header><h1>Show Chef </h1></header>
<br>
<fieldset>
<h3>Name: <%=  @chef.name %></h2>


<h3>Speciality: <%= @chef.speciality %></h3>

<h3>Tv show: <%= @chef.show %></h3>
<div id="main"><%= image_tag(@chef.avatar, style: 'width: 150px') %></div>
</fieldset>
<%= link_to('edit', edit_chef_path(@chef.id))%>
