<header></header>
<fieldset>
<table>
	<thead>
 		<tr>
 		 	 <th>Title</th>
 		   <th>Description </th>
 		   <th>CookTime</th>
 		   <th>show</th>
 		   <th>edit</th>
 		   <th>delete</th>
 		</tr>
 	</thead>
 	<tbody>	
 	 		
 	   <% @recipes.each do |x| %>
 	   <tr>
 			<td><%= x.title %></td>
 			<td><%= x.description %></td>
 			<td><%= x.cook_time %></td>

			<td><%= link_to('Show', recipe_path(x.id)) %></td>
 			<td><%= link_to('Edit', edit_recipe_path(x.id)) %></td>
 			<td><%= link_to('Delete', recipe_path(x.id), method: :delete, confirm: "are you sure?")%></td>
 				
		</tr>
	</tbody>
	<% end %>
</table>
</fieldset>

<%= link_to('New', new_recipe_path)%>






